{% extends "base.html" %}

{% block titulo_pagina %}Gestão de Kitnets | Login{% endblock titulo_pagina %}

{% block conteudo %}
    <div class="row">
        <div class="col text-center"><h2>Login</h2></div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="form-floating">
                    <input type="text" name="username" id="username" class="form-control" placeholder="username">
                    <label for="username">Usuário</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 mt-3">
                <div class="form-floating">
                    <input type="password" name="password" id="password" class="form-control" placeholder="password">
                    <label for="password">Senha</label>
                </div>
            </div>
        </div>
    </form>
{% endblock conteudo %}

