{% extends "base.html" %}

{% block conteudo %}

    {% if validlink %}
        <div class="row mt-3">
            <div class="col text-center">
                <h2>Informe e confirme sua nova senha.</h2>
            </div>
        </div>

        {% if form.errors %}

            <div class="form-errors alert alert-danger alert-dismissible fade show" role="alert">
                {% for key, values in form.errors.items %}
                    <div class="row">
                        <div class="col-3">
                            <p>{{ key }}</p>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        {% for value in values %}
                                            <li>{{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% for value in values %}
                        {{ value }}
                    {% endfor %} {% endcomment %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <div class="form-floating">
                    <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Senha">
                    <label for="new_password1" class="form-label">Senha</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-3">
                <div class="form-floating">
                    <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirmar senha">
                    <label for="new_password2" class="form-label">Confirmação da senha</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-3 d-grid">
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock conteudo %}